<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Item Details -->
    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <img th:if="${book.bookImage() != null}" th:src="@{${book.bookImage()}}">
                                    <img th:if="${book.bookImage() == null || book.bookImage().isEmpty()}" src="/images/logo/logo.png" alt="Default Book Image">
                                </div>
<!--                                <div class="images">-->
<!--                                    <img src="https://via.placeholder.com/1000x670" class="img" alt="#">-->
<!--                                    <img src="https://via.placeholder.com/1000x670" class="img" alt="#">-->
<!--                                    <img src="https://via.placeholder.com/1000x670" class="img" alt="#">-->
<!--                                    <img src="https://via.placeholder.com/1000x670" class="img" alt="#">-->
<!--                                    <img src="https://via.placeholder.com/1000x670" class="img" alt="#">-->
<!--                                </div>-->
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <input type="hidden" id="bookId" th:value="${book.bookId()}">
                            <h2 th:text="${book.bookName()}" class="title">GoPro Karma Camera Drone</h2>
                            <p th:text="${book.bookAuthor()}" class="category"><i class="lni lni-tag"></i> Drones:<a href="javascript:void(0)">Action cameras</a></p>
                            <h3 class="price">
                                <div class="price-detail">
                                    <em>정가: </em>
                                    <span th:text = "${#numbers.formatInteger(book.bookPrice(),3,'COMMA')} + '원'">$945</span>
                                </div>
                                <div class="price-detail">
                                    <em>판매가: </em>
                                    <h3
                                        th:text = "${#numbers.formatInteger(book.bookSellingPrice(),3,'COMMA')} + '원'"></h3>
                                    <em class="sale"
                                        th:if="${book.bookPrice() > 0}" th:text="${'(' + (1 - book.bookSellingPrice() / book.bookPrice()) * 100 + ')% 할인'}"></em>
                                </div>
                            </h3>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group quantity">
                                        <label for="quantity">수량</label>
                                        <input type="number" id="quantity" class="form-control" min="1" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            <button id="addToCartButton" class="btn" style="width: 100%;">Add to Cart</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn" id="couponButton" data-bs-toggle="modal" data-bs-target="#couponModal">
                                                <i class="lni lni-gift"></i> Receive Coupon
                                            </button>
                                        </div>
                                    </div>

                                    <!-- 쿠폰 모달 -->
                                    <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>쿠폰 이름</th>
                                                            <th>할인율 및 할인 금액</th>
                                                            <th>유효기간</th>
                                                            <th>발급</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="couponList">
                                                        <tr th:each="coupon : ${coupons}">
                                                            <td th:text="${coupon.couponName}"></td>
                                                            <td th:text="${coupon.couponPolicyRate != null ? #numbers.formatDecimal(coupon.couponPolicyRate, 0, 0) + '%' : #numbers.formatDecimal(coupon.couponPolicyDiscountValue, 0, 0) + '원'}"></td>
                                                            <td th:text="${#dates.format(coupon.couponExpiredAt, 'yyyy-MM-dd')}"></td>
                                                            <td><button class="btn btn-primary claim-coupon-btn" th:data-coupon-id="${coupon.couponId}">발급받기</button></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button th:onclick="|location.href='@{'/likesClick/'+ ${book.bookId()}}'|" th:if="${like == null || !like.likesStatus()}" class="btn">
                                                <i class="lni lni-heart"></i> To Wishlist
                                            </button>
                                            <button th:onclick="|location.href='@{'/likesClick/'+ ${book.bookId()}}'|" th:if="${like != null && like.likesStatus()}" class="btn">
                                                <i class="lni lni-heart-filled"></i> To Wishlist
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        <div class="col-12">
                            <div class="info-body custom-responsive-margin">
                                <h4>Details</h4>
                                <p th:utext="${#strings.replace(book.bookDescription(), '\n', '<br/>')}"></p>
<!--                                <h4>Features</h4>-->
<!--                                <ul class="features">-->
<!--                                    <li>Capture 4K30 Video and 12MP Photos</li>-->
<!--                                    <li>Game-Style Controller with Touchscreen</li>-->
<!--                                    <li>View Live Camera Feed</li>-->
<!--                                    <li>Full Control of HERO6 Black</li>-->
<!--                                    <li>Use App for Dedicated Camera Operation</li>-->
<!--                                </ul>-->
                            </div>
                        </div>
<!--                        <div class="col-lg-6 col-12">-->
<!--                            <div class="info-body">-->
<!--                                <h4>Specifications</h4>-->
<!--                                <ul class="normal-list">-->
<!--                                    <li><span>Weight:</span> 35.5oz (1006g)</li>-->
<!--                                    <li><span>Maximum Speed:</span> 35 mph (15 m/s)</li>-->
<!--                                    <li><span>Maximum Distance:</span> Up to 9,840ft (3,000m)</li>-->
<!--                                    <li><span>Operating Frequency:</span> 2.4GHz</li>-->
<!--                                    <li><span>Manufacturer:</span> GoPro, USA</li>-->
<!--                                </ul>-->
<!--                                <h4>Shipping Options:</h4>-->
<!--                                <ul class="normal-list">-->
<!--                                    <li><span>Courier:</span> 2 - 4 days, $22.50</li>-->
<!--                                    <li><span>Local Shipping:</span> up to one week, $10.00</li>-->
<!--                                    <li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>-->
<!--                                    <li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
                <div id="review-section"></div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // 이미지 갤러리 기능
            const current = document.getElementById("current");
            const opacity = 0.6;
            const imgs = document.querySelectorAll(".img");
            imgs.forEach(img => {
                img.addEventListener("click", (e) => {
                    imgs.forEach(img => {
                        img.style.opacity = 1;
                    });
                    current.src = e.target.src;
                    e.target.style.opacity = opacity;
                });
            });

            // 모달 초기화 코드
            var myModal = new bootstrap.Modal(document.getElementById('couponModal'), {
                keyboard: false
            });

            // 쿠폰 목록 표시 버튼 클릭 이벤트
            document.getElementById('couponButton').addEventListener('click', function () {
                var bookId = document.getElementById('bookId').value; // Hidden input field to store the bookId
                $.ajax({
                    url: '/coupons/books/' + bookId + '/coupons',
                    method: 'GET',
                    success: function(data) {
                        var couponList = $('#couponList');
                        couponList.empty();
                        var couponIds = new Set();
                        data.forEach(function(coupon) {
                            if (!couponIds.has(coupon.couponId)) {
                                couponIds.add(coupon.couponId);
                                var row = '<tr>' +
                                    '<td>' + coupon.couponName + '</td>' +
                                    '<td>' + (coupon.couponPolicyRate ? coupon.couponPolicyRate + '%' : coupon.couponPolicyDiscountValue + '원') + '</td>' +
                                    '<td>' + new Date(coupon.couponExpiredAt).toLocaleDateString() + '</td>' +
                                    '<td><button class="btn btn-primary claim-coupon-btn" data-coupon-id="' + coupon.couponId + '">발급받기</button></td>' +
                                    '</tr>';
                                couponList.append(row);
                            }
                        });

                        // 쿠폰 발급 버튼 클릭 이벤트
                        document.querySelectorAll('.claim-coupon-btn').forEach(button => {
                            button.addEventListener('click', function () {
                                var couponId = this.getAttribute('data-coupon-id');
                                fetch('/coupons/claim', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded',
                                    },
                                    body: new URLSearchParams({
                                        'couponId': couponId
                                    })
                                }).then(response => {
                                    if (response.ok) {
                                        alert('쿠폰이 성공적으로 발급되었습니다.');
                                    } else if (response.status === 400) {
                                        alert('이미 발급된 쿠폰입니다.');
                                    } else if (response.status === 500) {
                                        alert('비회원은 쿠폰 발급이 불가합니다.\n회원가입 후 쿠폰혜택을 받아보세요 !!')
                                    }
                                    else {
                                        alert('쿠폰 발급에 실패하였습니다.');
                                    }
                                });
                            });
                        });
                    }
                });
            });

            document.getElementById('addToCartButton').addEventListener('click', function() {
                var bookId = document.getElementById('bookId').value;
                var quantity = document.getElementById('quantity').value;
                fetch('/carts', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        bookId: bookId,
                        quantity: quantity
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(error => {
                            throw new Error(JSON.stringify(error));
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    alert('장바구니에 성공적으로 추가되었습니다.');
                    location.reload();
                })
                .catch(error => {
                    let errorMessage = "알 수 없는 오류가 발생했습니다.";
                    try {
                        const parsedError = JSON.parse(error.message);
                        const nestedParsedError = JSON.parse(parsedError.message);
                        errorMessage = nestedParsedError.message;
                    } catch (e) {
                        console.error("Error parsing error message:", e);
                        errorMessage = error.message;
                    }
                    alert(`에러: ${errorMessage}`);
                });
            });
        });
    </script>
</div>
</body>
</html>
