<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Breadcrumbs Component -->
    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs}"></div>
    <!-- End Breadcrumbs Component -->

    <!-- Start Order History Area -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="sidebar">
                        <div class="user-info">
                            <div class="user-grade">
                                <span>회원 등급:</span>
                                <span class="grade">일반회원</span>
                            </div>
                            <div class="user-points">
                                <span>잔여 포인트:</span>
                                <span class="points">1,000P</span>
                            </div>
                        </div>
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">주문 내역</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">쿠폰함</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">정보 수정</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">나의 리뷰</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">배송지 정보</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-info-wrapper">
                                    <div class="title">
                                        <h3>정보 수정</h3>
                                        <p>회원정보를 수정할 수 있습니다.</p>
                                    </div>
                                    <form class="card login-form" method="post">
                                        <div class="card-body">
                                            <div class="form-group input-group">
                                                <label for="name">이름</label>
                                                <input class="form-control" type="text" name="name" id="name">
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="phoneNumber">전화번호</label>
                                                <input class="form-control" type="number" name="phoneNumber" id="phoneNumber">
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="new-password">현재 비밀번호</label>
                                                <input class="form-control" type="password" id="new-password" required>
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="confirm-password">비밀번호 확인</label>
                                                <input class="form-control" type="password" id="confirm-password" required>
                                            </div>
                                            <div id="pwConfirm">

                                            </div>
                                            <div class="button">
                                                <button class="btn" type="submit" id="update-btn">수정</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Order History Area -->
    <script>
        // 비밀번호 확인하는 JS
        const newPasswordInput = document.getElementById('new-password');
        const confirmPasswordInput = document.getElementById('confirm-password');
        const pwConfirmElement = document.getElementById('pwConfirm');
        const setPasswordBtn = document.getElementById('update-btn');

        function pwCheck() {
            if (newPasswordInput.value === confirmPasswordInput.value) {
                pwConfirmElement.textContent = '비밀번호 일치';
                pwConfirmElement.style.color = 'green';
            } else {
                pwConfirmElement.textContent = '비밀번호 불일치';
                pwConfirmElement.style.color = 'red';
            }

            setPasswordBtn.disabled = (newPasswordInput.value !== confirmPasswordInput.value);
        }

        newPasswordInput.addEventListener('input', pwCheck);
        confirmPasswordInput.addEventListener('input', pwCheck);
    </script>

</div>>
</body>
</html>