<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Breadcrumbs Component -->
    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs}"></div>
    <!-- End Breadcrumbs Component -->

    <!-- Start Order History Area -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/user-sidebar :: user-sidebar}"></div>
                </div>
                <div class="col-lg-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-info-wrapper">
                                    <div class="title">
                                        <h3>포인트 이력 조회</h3>
                                        <p>회원님의 포인트 사용 이력을 조회할 수 있습니다.</p>
                                    </div>
                                    <div class="points">
                                        현재 포인트: <span id="currentPoint" th:text="${currentPoint}">0</span>
                                    </div>
<!--                                    <h2>Your Point History</h2>-->
                                    <div th:if="${not #lists.isEmpty(pointLogs.content)}">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>종류</th>
                                                <th>갱신 포인트</th>
                                                <th>사용일</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="pointLog : ${pointLogs.content}">
                                                <td th:text="${pointLog.pointLogUpdatedType}">Action</td>
                                                <td th:text="${pointLog.pointLogAmount}">Points</td>
                                                <td th:text="${#temporals.format(pointLog.pointLogUpdatedAt, 'yyyy-MM-dd HH:mm:ss')}">Date</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div th:if="${#lists.isEmpty(pointLogs.content)}">
                                        <p>포인트 이력이 존재하지 않습니다.</p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item" th:class="${pointLogs.first} ? 'disabled' : ''">
                                                    <a class="page-link" th:href="@{/users/points/logs(page=0)}">&laquo;</a>
                                                </li>
                                                <li th:each="page : ${#numbers.sequence(0, pointLogs.totalPages - 1)}"
                                                    class="page-item" th:class="${pointLogs.number == page} ? 'active' : ''">
                                                    <a class="page-link" th:href="@{/users/points/logs(page=${page})}" th:text="${page + 1}"></a>
                                                </li>
                                                <li class="page-item" th:class="${pointLogs.last} ? 'disabled' : ''">
                                                    <a class="page-link" th:href="@{/users/points/logs(page=${pointLogs.totalPages - 1})}">&raquo;</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="footer">
                                        <p>Returning to your profile? <a href="/profile">View Profile</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Order History Area -->

</div>
</body>
</html>
