<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Order History Area -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/user-sidebar :: user-sidebar}"></div>
                </div>
                <div class="col-lg-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-info-wrapper">
                                    <div class="title">
                                        <h3 th:text="#{user.editInfo}">정보 수정</h3>
                                        <p th:text="#{user.editInfoDesc}">회원정보를 수정할 수 있습니다.</p>
                                    </div>
                                    <form id="update-form" class="card login-form">
                                        <!-- 나머지 입력 필드들 -->
                                        <div class="card-body">
                                            <div class="form-group input-group">
                                                <label for="userEmail" th:text="#{user.email}">이메일</label>
                                                <input class="form-control" type="email" id="userEmail" th:field="*{user.userEmail}" readonly>
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="userName" th:text="#{user.name}">이름</label>
                                                <input class="form-control" type="text" name="userName" id="userName" th:field="*{user.userName}" required>
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="userPhone" th:text="#{user.phoneNumber}">전화번호</label>
                                                <input class="form-control" type="text" name="phoneNumber" id="userPhone" th:field="*{user.userPhone}" required>
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="userBirth" th:text="#{user.birthDate}">생일</label>
                                                <input class="form-control" type="date" id="userBirth" name="userBirth" th:value="${#temporals.format(user.userBirth, 'yyyy-MM-dd')}" required>
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="userPassword" th:text="#{user.currentPassword}">현재 비밀번호</label>
                                                <input class="form-control" type="password" name="userPassword" id="userPassword" required>
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="newUserPassword" th:text="#{user.newPassword}">새 비밀번호</label>
                                                <input class="form-control" type="password" name="newUserPassword" id="newUserPassword">
                                            </div>
                                            <div class="form-group input-group">
                                                <label for="newUserConfirmPassword" th:text="#{user.confirmNewPassword}">새 비밀번호 확인</label>
                                                <input class="form-control" type="password" name="newUserConfirmPassword" id="newUserConfirmPassword">
                                            </div>
                                            <div id="pwConfirm"></div>
                                            <div class="button-group">
                                                <button class="btn btn-primary" type="submit" id="update-btn" th:text="#{user.update}">수정</button>
                                                <a class="btn btn-danger ml-2" href="/mypage/delete" id="delete-account-btn" th:text="#{user.delete}">회원 탈퇴</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Order History Area -->

    <script th:inline="javascript">
        var messages = {
            passwordMatch: [[#{register.message.passwordMatch}]],
            passwordMismatch: [[#{register.message.passwordMismatch}]],
            passwordInvalid: [[#{register.message.passwordInvalid}]],
            userInfoUpdateSuccess: [[#{user.put.success}]],
            userInfoUpdateError: [[#{user.put.error}]]
        };
    </script>

    <script>
        document.getElementById('update-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);

            fetch('/mypage/info', {
                method: 'PUT',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    alert(messages.userInfoUpdateSuccess);
                    // window.location.href = '/mypage/info';
                } else {
                    alert(messages.userInfoUpdateError);
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        });

        const birthInput = document.getElementById('userBirth');

        birthInput.addEventListener('input', function(e) {
            let inputDate = new Date(e.target.value);
            let inputYear = inputDate.getFullYear();

            // 생년월일 년도가 10000 단위면 초기화
            if (inputYear >= 10000) {
                e.target.value = '';
            }
        });

        // 전화번호 입력 필드 포맷팅 함수
        function formatPhoneNumber(event) {
            let input = event.target.value.replace(/\D/g, ''); // 숫자 이외의 문자 제거
            let formatted = '';

            if (input.length > 0) {
                formatted = input.substring(0, 3);
                if (input.length > 3) {
                    formatted += '-' + input.substring(3, 7);
                }
                if (input.length > 7) {
                    formatted += '-' + input.substring(7, 11);
                }
            }

            event.target.value = formatted;
        }

        // 전화번호 입력 필드에 이벤트 리스너 추가
        const userPhoneInput = document.getElementById('userPhone');
        userPhoneInput.addEventListener('input', formatPhoneNumber);

        // 비밀번호 확인하는 JS
        const newPasswordInput = document.getElementById('newUserPassword');
        const confirmPasswordInput = document.getElementById('newUserConfirmPassword');
        const pwConfirmElement = document.getElementById('pwConfirm');
        const setPasswordBtn = document.getElementById('update-btn');

        const regex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}$/;

        function pwCheck() {
            if (newPasswordInput.value === '' && confirmPasswordInput.value === '') {
                setPasswordBtn.disabled = false;
                pwConfirmElement.textContent = '';
                return;
            }

            if (!regex.test(newPasswordInput.value)) {
                pwConfirmElement.textContent = messages.passwordInvalid;
                pwConfirmElement.style.color = 'red';
                setPasswordBtn.disabled = true;
                return;
            }

            if (newPasswordInput.value === confirmPasswordInput.value) {
                pwConfirmElement.textContent = messages.passwordMatch;
                pwConfirmElement.style.color = 'green';
            } else {
                pwConfirmElement.textContent = messages.passwordMismatch;
                pwConfirmElement.style.color = 'red';
            }

            setPasswordBtn.disabled = (newPasswordInput.value !== confirmPasswordInput.value);
        }

        newPasswordInput.addEventListener('input', pwCheck);
        confirmPasswordInput.addEventListener('input', pwCheck);
    </script>

</div>
</body>
</html>