<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<head>
  <title>주문 상세</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="content" class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div th:replace="~{fragments/user-sidebar :: user-sidebar}"></div>
    </div>
    <div class="col-md-9 order-details">
      <input type="hidden" id="orderId" th:value="${order.orderId}">
      <input type="hidden" id="paymentProvider" th:value="${order.paymentProvider}">
      <h2>주문 상세</h2>
      <div>
        <p><strong><span th:text="${#temporals.format(order.orderCreatedAt, 'yyyy. M. d')}"></span> 주문</strong> : 주문번호 <span th:text="${order.orderId}">11100055733606</span></p>
      </div>
      <div class="card mb-4 order-info">
        <div class="card-body">
          <div class="order-info">
            <ul>
              <li th:each="book, iterStat : ${order.bookNames}">
                <p>
                  <strong>물품 이름:</strong> <span th:text="${book}">도서 이름</span><br>
                  <strong>개수:</strong> <span th:text="${order.quantities.get(iterStat.index)}">개수</span><br>
                  <strong>가격:</strong> <span th:text="${order.bookPrices.get(iterStat.index)}">가격</span>
                </p>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-custom" th:data-order-id="${order.orderId}" onclick="location.href='/mypage/orders/' + this.getAttribute('data-order-id') + '/delivery'">배송조회</button>
            <button class="btn btn-outline-secondary btn-custom" onclick="location.href='/reviews'">리뷰 작성하기</button>
            <button class="btn btn-warning btn-custom" th:if="${order.orderStatusType.name == 'DONE'}" th:disabled="${noneMember != null}" onclick="changeOrderStatus('RETURN')">반품</button>
            <button class="btn btn-danger btn-custom" th:if="${order.orderStatusType.name == 'WAIT'}" th:disabled="${noneMember != null}" onclick="changeOrderStatus('CANCEL')">결제취소</button>
            <button class="btn btn-info btn-custom" th:if="${order.orderStatusType.name == 'RETURN' }" th:disabled="${noneMember != null} or ${order.cancelStatus.name != 'NONE'}" onclick="changeOrderStatus('REFUND')">환불 요청</button>
          </div>
          <div th:if="${order.cancelStatus.name != 'NONE'}" class="mt-4">
            <p>
              <strong>환불 상태:</strong>
              <span th:if="${order.cancelStatus.name == 'WAIT'}">환불 승인 대기중</span>
              <span th:if="${order.cancelStatus.name == 'ACCESS'}">환불 승인</span>
              <span th:if="${order.cancelStatus.name == 'DENIED'}">환불 거부</span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <h5>받는사람 정보</h5>
        <div class="card mb-4 order-info">
          <div class="card-body">
            <p>
              받는사람: <span th:text="${order.receiveUserName}">김토스</span><br>
              연락처: <span th:text="${order.receiveUserPhoneNumber}">010-1234-5678</span><br>
              받는주소: <span th:text="${order.addressRaw}">주소</span> <span th:text="${order.addressDetail}">상세 주소</span><br>
            </p>
          </div>
        </div>
      </div>
      <div>
        <h5>결제 정보</h5>
        <div class="card mb-4 order-info">
          <div class="card-body">
            <p>
              총 상품가격: <span th:text="${order.orderTotalAmount}">5,010 원</span><br>
              배송비: <span th:text="${order.shippingPrice}">0 원</span><br>
              <span class="order-total">총 결제금액: <span th:text="${order.orderTotalAmount}">5,010 원</span></span>
            </p>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <a href="/mypage/orders" class="btn btn-primary" th:disabled="${noneMember != null}">주문목록 돌아가기</a>
      </div>
    </div>
  </div>
  <script>
    function changeOrderStatus(status) {
      const orderId = document.getElementById('orderId').value;
      const paymentProvider = document.getElementById('paymentProvider').value;


      fetch('/orders/' + orderId, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          orderStatusType: status,
          paymentProvider: paymentProvider
        })
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Network response was not ok');
        }
      })
      .then(data => {
        let message;
        switch(status) {
          case 'RETURN':
            message = '반품 요청이 성공적으로 처리되었습니다.';
            break;
          case 'CANCEL':
            message = '결제 취소가 성공적으로 처리되었습니다.';
            break;
          case 'REFUND':
            message = '환불 요청이 성공적으로 처리되었습니다.';
            break;
          default:
            message = '주문 상태가 성공적으로 변경되었습니다.';
        }
        alert(message);
        location.reload();
      })
      .catch(error => {
        handleError(error)
      });
    }
  </script>
</div>
</body>
</html>
