<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Breadcrumbs Component -->
    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs}"></div>
    <!-- End Breadcrumbs Component -->

    <!-- Start Order History Area -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/user-sidebar :: user-sidebar}"></div>
                </div>
                <div class="col-lg-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1™2">
                                <div class="coupon-wrapper">
                                    <div class="title">
                                        <h3>쿠폰함</h3>
                                        <p>쿠폰 관련 정보를 확인할 수 있습니다.</p>
                                    </div>
                                    <ul class="nav nav-tabs" id="couponTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="available-tab" data-bs-toggle="tab" href="#available" role="tab" aria-controls="available" aria-selected="true">사용 가능한 쿠폰</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="used-tab" data-bs-toggle="tab" href="#used" role="tab" aria-controls="used" aria-selected="false">사용한 쿠폰</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">발급 내역</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="couponTabContent">
                                        <!-- tab 메뉴 누르면 아래 class에 show active 추가해 주시면 됩니다!-->
                                        <div class="tab-pane fade show active" id="available" role="tabpanel" aria-labelledby="available-tab">
                                            <div class="coupon-list">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>쿠폰명</th>
                                                        <th>사용 조건 및 사용기간</th>
                                                        <th>할인 혜택</th>
                                                        <th>등록일</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="coupon : ${activeCoupons}">
                                                        <td th:text="${coupon.couponName}"></td>
                                                        <td th:text="${coupon.couponMinAmount} + ' / ' + ${#dates.format(coupon.CouponExpiredAt, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${coupon.couponDiscountRate} + '%'"></td>
                                                        <td th:text="${#dates.format(coupon.couponCreatedAt, 'yyyy-MM-dd')}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="pagination">
                                                <ul>
                                                    <li th:each="i : ${#numbers.sequence(0, activeCoupons.totalPages - 1)}">
                                                        <a th:href="@{'/coupons(page=${i}, size=${couponBoxResponses.size})'}"
                                                           th:text="${i + 1}"
                                                           th:classappend="${i == activeCoupons.number} ? 'active'"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="used" role="tabpanel" aria-labelledby="used-tab">
                                            <div class="coupon-list">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>쿠폰명</th>
                                                        <th>사용 조건 및 사용기간</th>
                                                        <th>할인 혜택</th>
                                                        <th>사용일</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="coupon : ${usedCoupons}">
                                                        <td th:text="${coupon.couponName}"></td>
                                                        <td th:text="${coupon.couponMinAmount} + ' / ' + ${#dates.format(coupon.CouponExpiredAt, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${coupon.couponDiscountRate} + '%'"></td>
                                                        <td th:text="${#dates.format(coupon.userCouponUsedAt, 'yyyy-MM-dd')}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="pagination">
                                                <ul>
                                                    <li th:each="i : ${#numbers.sequence(0, usedCoupons.totalPages - 1)}">
                                                        <a th:href="@{'/coupons/used(page=${i}, size=${usedCoupons.size})'}"
                                                           th:text="${i + 1}"
                                                           th:classappend="${i == usedCoupons.number} ? 'active'"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                                            <div class="coupon-list">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>쿠폰명</th>
                                                        <th>사용 조건 및 사용기간</th>
                                                        <th>할인 혜택</th>
                                                        <th>등록일</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="coupon : ${expiredCoupons}">
                                                        <td th:text="${coupon.couponName}"></td>
                                                        <td th:text="${coupon.couponMinAmount} + ' / ' + ${#dates.format(coupon.CouponExpiredAt, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${coupon.couponDiscountRate} + '%'"></td>
                                                        <td th:text="${#dates.format(coupon.couponCreatedAt, 'yyyy-MM-dd')}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="pagination">
                                                <ul>
                                                    <li th:each="i : ${#numbers.sequence(0, expiredCoupons.totalPages - 1)}">
                                                        <a th:href="@{'/coupons/history(page=${i}, size=${historyCoupons.size})'}"
                                                           th:text="${i + 1}"
                                                           th:classappend="${i == expiredCoupons.number} ? 'active'"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>