<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Order History Area -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div th:replace="~{fragments/user-sidebar :: user-sidebar}"></div>
                </div>
                <div class="col-lg-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="coupon-wrapper">
                                    <div class="title">
                                        <h3>쿠폰함</h3>
                                        <p>쿠폰 관련 정보를 확인할 수 있습니다.</p>
                                    </div>
                                    <ul class="nav nav-tabs" id="couponTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="available-tab" data-bs-toggle="tab" href="#available" role="tab" aria-controls="available" aria-selected="true">사용 가능한 쿠폰</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="used-tab" data-bs-toggle="tab" href="#used" role="tab" aria-controls="used" aria-selected="false">사용한 쿠폰</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">만료된 쿠폰</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="couponTabContent">
                                        <!-- tab 메뉴 누르면 아래 class에 show active 추가해 주시면 됩니다!-->
                                        <div class="tab-pane fade show active" id="available" role="tabpanel" aria-labelledby="available-tab">
                                            <div class="coupon-list">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>쿠폰명</th>
                                                        <th>최소 주문금액 / 유효기간</th>
                                                        <th>할인 혜택</th>
                                                        <th>등록일</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="coupon : ${activeCoupons.content}" th:data-coupon-id="${coupon.couponId}">
                                                        <td th:text="${coupon.couponName}" class="coupon-name" th:data-coupon-name="${coupon.couponName}"
                                                            th:data-coupon-max-amount="${#numbers.formatInteger(coupon.couponMaxAmount, 3, 'COMMA') + '원'}"
                                                            th:data-coupon-expired-at="${#dates.format(coupon.CouponExpiredAt, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${#numbers.formatInteger(coupon.couponMinAmount, 3, 'COMMA') + '원'} + ' / ' + ${#dates.format(coupon.CouponExpiredAt, 'yyyy-MM-dd')}" />
                                                        <td th:text="${coupon.couponDiscountRate != null ? #numbers.setFormatInteger(coupon.couponDiscountRate, 0) + '%' : #numbers.formatInteger(coupon.couponDiscountAmount, 3, 'COMMA') + '원'}"></td>
                                                        <td th:text="${#dates.format(coupon.couponCreatedAt, 'yyyy-MM-dd')}"></td>
                                                    </tr>
                                                    <tr th:if="${activeCoupons.content.size()} == 0">
                                                        <td colspan="6" class="text-center" style="font-size: 1.2em; color: black;">사용 가능한 쿠폰이 없습니다.</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Pagination -->
                                            <div class="d-flex justify-content-center">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination">
                                                        <li class="page-item" th:class="${activeCoupons.first} ? 'disabled' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#available(page=0)}">&laquo;</a>
                                                        </li>
                                                        <li th:each="page : ${activeCoupons.totalPages > 0 ? #numbers.sequence(0, activeCoupons.totalPages - 1) : #numbers.sequence(0, 0)}"
                                                            class="page-item" th:class="${activeCoupons.number == page} ? 'active' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#available(page=${page})}" th:text="${page + 1}"></a>
                                                        </li>
                                                        <li class="page-item" th:class="${activeCoupons.last} ? 'disabled' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#available(page=${activeCoupons.totalPages - 1})}">&raquo;</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="used" role="tabpanel" aria-labelledby="used-tab">
                                            <div class="coupon-list">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>쿠폰명</th>
                                                        <th>최소 주문금액 / 유효기간</th>
                                                        <th>할인 혜택</th>
                                                        <th>사용일</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="coupon : ${usedCoupons.content}">
                                                        <td th:text="${coupon.couponName}"></td>
                                                        <td th:text="${#numbers.formatInteger(coupon.couponMinAmount, 3, 'COMMA') + '원'} + ' / ' + ${#dates.format(coupon.CouponExpiredAt, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${coupon.couponDiscountRate != null ? #numbers.setFormatInteger(coupon.couponDiscountRate, 0) + '%' : #numbers.formatInteger(coupon.couponDiscountAmount, 3, 'COMMA') + '원'}"></td>
                                                        <td th:text="${coupon.userCouponUsedAt()}"></td>
                                                    </tr>
                                                    <tr th:if="${usedCoupons.content.size()} == 0">
                                                        <td colspan="6" class="text-center" style="font-size: 1.2em; color: black;">사용한 쿠폰이 없습니다.</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Pagination -->
                                            <div class="d-flex justify-content-center">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination">
                                                        <li class="page-item" th:class="${usedCoupons.first} ? 'disabled' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#used(page=0)}">&laquo;</a>
                                                        </li>
                                                        <li th:each="page : ${usedCoupons.totalPages > 0 ? #numbers.sequence(0, usedCoupons.totalPages - 1) : #numbers.sequence(0, 0)}"
                                                            class="page-item" th:class="${usedCoupons.number == page} ? 'active' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#used(page=${page})}" th:text="${page + 1}"></a>
                                                        </li>
                                                        <li class="page-item" th:class="${usedCoupons.last} ? 'disabled' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#used(page=${usedCoupons.totalPages - 1})}">&raquo;</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                                            <div class="coupon-list">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>쿠폰명</th>
                                                        <th>최소 주문금액 / 유효기간</th>
                                                        <th>할인 혜택</th>
                                                        <th>등록일</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="coupon : ${expiredCoupons.content}">
                                                        <td th:text="${coupon.couponName}"></td>
                                                        <td th:text="${#numbers.formatInteger(coupon.couponMinAmount, 3, 'COMMA') + '원'} + ' / ' + ${#dates.format(coupon.CouponExpiredAt, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${coupon.couponDiscountRate != null ? #numbers.setFormatInteger(coupon.couponDiscountRate, 0) + '%' : #numbers.formatInteger(coupon.couponDiscountAmount, 3, 'COMMA') + '원'}"></td>
                                                        <td th:text="${#dates.format(coupon.couponCreatedAt, 'yyyy-MM-dd')}"></td>
                                                    </tr>
                                                    <tr th:if="${expiredCoupons.content.size()} == 0">
                                                        <td colspan="6" class="text-center" style="font-size: 1.2em; color: black;">만료된 쿠폰이 없습니다.</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Pagination -->
                                            <div class="d-flex justify-content-center">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination">
                                                        <li class="page-item" th:class="${expiredCoupons.first} ? 'disabled' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#history(page=0)}">&laquo;</a>
                                                        </li>
                                                        <li th:each="page : ${expiredCoupons.totalPages > 0 ? #numbers.sequence(0, expiredCoupons.totalPages - 1) : #numbers.sequence(0, 0)}"
                                                            class="page-item" th:class="${expiredCoupons.number == page} ? 'active' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#history(page=${page})}" th:text="${page + 1}"></a>
                                                        </li>
                                                        <li class="page-item" th:class="${expiredCoupons.last} ? 'disabled' : ''">
                                                            <a class="page-link" th:href="@{/mypage/coupons#history(page=${expiredCoupons.totalPages - 1})}">&raquo;</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 쿠폰 상세보기 모달 -->
                <div class="modal fade" id="couponDetailModal" tabindex="-1" aria-labelledby="couponDetailModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="couponDetailModalLabel">쿠폰 상세보기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 1.2em; color: black;"><strong>쿠폰명:</strong> <span id="couponName"></span></p>
                                <p style="font-size: 1.2em; color: black;"><strong>최대 할인금액:</strong> <span id="couponMaxAmount"></span></p>
                                <p style="font-size: 1.2em; color: black;"><strong>유효기간:</strong> <span id="couponExpiredAt"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 쿠폰 이름을 클릭할 때 이벤트 추가
            const couponNames = document.querySelectorAll('.coupon-name');

            couponNames.forEach(coupon => {
                coupon.addEventListener('click', function () {
                    const couponName = this.dataset.couponName;
                    const couponMaxAmount = this.dataset.couponMaxAmount;
                    const couponExpiredAt = this.dataset.couponExpiredAt;

                    // 모달에 데이터 설정
                    document.getElementById('couponName').innerText = couponName;
                    document.getElementById('couponMaxAmount').innerText = couponMaxAmount;
                    document.getElementById('couponExpiredAt').innerText = couponExpiredAt;

                    // 모달 띄우기
                    const modal = new bootstrap.Modal(document.getElementById('couponDetailModal'));
                    modal.show();
                });
            });
        });
    </script>
</div>
</body>
</html>