<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Password Set Failed Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>비밀번호 설정 실패</h3>
                            <p>새 비밀번호 설정에 실패했습니다.</p>
                        </div>
                        <div class="error-info">
                            <p>나중에 다시 시도하거나 고객 지원에 문의해 주세요.</p>
                        </div>
                        <div class="button">
                            <a href="#" class="btn">다시 시도</a>
                        </div>
                        <p class="outer-link">도움이 필요하신가요? <a href="#">고객 지원에 문의</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Password Set Failed Area -->
</div>
</body>
</html>