<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Password</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:fragment="content">
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>비밀번호를 잊으셨나요?</h3>
                            <p>계정과 연결된 이메일 주소를 입력하시면, 비밀번호 재설정 링크를 이메일로 보내드릴게요!</p>
                            <p>전송하기까지의 몇 초 정도 시간이 소요될 수 있습니다.</p>
                        </div>
                        <form class="row" method="post" th:action="@{/users/find/password}">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="reg-fn">이메일 주소</label>
                                    <input class="form-control" type="email" id="reg-fn" name="email" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="reg-ln">이름</label>
                                    <input class="form-control" type="text" id="reg-ln" name="name" required>
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">재설정 링크 보내기</button>
                            </div>
                            <p class="outer-link">비밀번호가 기억나셨나요? <a href="/login">지금 로그인</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>