<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Breadcrumbs Component -->
    <div th:replace="~{fragments/breadcrumbs :: breadcrumbs}"></div>
    <!-- End Breadcrumbs Component -->

    <!-- Start Find Password -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>비밀번호를 잊으셨나요?</h3>
                            <p>계정과 연결된 이메일 주소를 입력하시면, 비밀번호 재설정 링크를 이메일로 보내드릴게요!</p>
                        </div>
                        <form class="row" method="post">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="reg-fn">이메일 주소</label>
                                    <input class="form-control" type="email" id="reg-fn" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="reg-ln">이름</label>
                                    <input class="form-control" type="text" id="reg-ln" required>
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">재설정 링크 보내기</button>
                            </div>
                            <p class="outer-link">비밀번호가 기억나셨나요? <a href="#">지금 로그인</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Find Password -->
</div>
</body>
</html>