<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail Sent</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:fragment="content">
  <div class="maill-success">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="success-content">
            <i class="lni lni-envelope"></i>
            <h2>메일이 성공적으로 전송되었습니다</h2>
            <p>메일로 보내드린 링크를 통해 비밀번호를 재설정해 주세요!</p>
            <div class="button">
              <a href="/" class="btn">홈으로 돌아가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
