<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail Failed</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:fragment="content">
  <div class="error-area">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="error-content">
            <i class="lni lni-warning"></i>
            <h2>오류가 발생했습니다</h2>
            <p>입력하신 이메일에 맞는 계정이 존재하지 않습니다.</p>
            <div class="button">
              <a href="/" class="btn">홈으로 돌아가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>