<div th:fragment="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Login <-- 나중에 작업합시다! --></h1>
                    <!-- 나중에 작업합시다!-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="#"><i class="lni lni-home"></i> Home</a></li>
                    <li>Login</li>
                    <!-- 나중에 작업합시다!-->
                </ul>
            </div>
        </div>
    </div>
</div>