<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="/images/logo/white-logo.png" alt="#">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->

    <!-- Start Footer Middle -->
    <div class="footer-middle">
        <div class="container">
            <div class="bottom-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Swagger Documentation</h3>
                            <ul>
                                <li><a href="http://yes25-5.shop:8060/books/swagger-ui/index.html" target="_blank">도서 및 회원 서버</a></li>
                                <li><a href="http://yes25-5.shop:8070/swagger-ui/index.html" target="_blank">주문 및 결제 서버</a></li>
                                <li><a href="http://yes25-5.shop:8080/coupons/swagger-ui/index.html" target="_blank">쿠폰 서버</a></li>
                                <li><a href="http://yes25-5.shop:8050/authority/swagger-ui/index.html" target="_blank">인증 서버</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer our-app">
                            <h3>Inproduce Our Team</h3>
                            <ul class="app-btn">
                                <li>
                                    <a href="https://github.com/nhnacademy-be6-yes-25-5">
                                        <i class="lni lni-github"></i>
                                        <span class="small-title">github</span>
                                        <span class="big-title">YES25.5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Get In Touch With Us</h3>
                            <ul>
                                <li><a href="https://github.com/wnstj1548">김준서</a></li>
                                <li><a href="https://github.com/bbbbooo">이현석</a></li>
                                <li><a href="https://github.com/Hyeok000">양혁</a></li>
                                <li><a href="https://github.com/Limchaereong">임채령</a></li>
                                <li><a href="https://github.com/lettuce82">채상흰</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>


                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="single-footer f-link">
                            <h3>Language</h3>
                            <ul>
                                <li><a href="?lang=ko">한국어</a></li>
                                <li><a href="?lang=en">English</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->

    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="copyright">
                            <p>Designed and Developed by<a href="https://github.com/nhnacademy-be6-yes-25-5" rel="nofollow" target="_blank">YES25.5</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!--/ End Footer Area -->
