<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="user-sidebar">
  <div class="sidebar" style="position: relative;">
    <div class="tooltip-icon">등급별 혜택 확인
      <div class="tooltiptext">
        <strong>순수 주문 금액 (3개월 기준)</strong><br>주문금액 - (쿠폰 + 배송비 + 취소금액 + 포장비)<br><br>
        <strong>일반회원</strong><br>순수 주문 금액 : 10만원 이상<br>순수금액의 1% 포인트 적립<br><br>
        <strong>로얄회원</strong><br>순수 주문 금액 : 10만원 ~ 20만원<br>순수금액 * 2% 포인트 적립<br><br>
        <strong>골드회원</strong><br>순수 주문 금액 : 20만원 ~ 30만원<br>순수금액 * 3% 포인트 적립<br><br>
        <strong>플래티넘회원</strong><br>순수 주문 금액 : 30만원 이상<br>순수금액 * 3% 포인트 적립
      </div>
    </div>
    <div class="user-info">
      <div class="user-name">
        <span th:text="#{sidebar.userInfo.name} + ':'">회원명:</span>
        <span class="grade">
          <span th:if="${userInfo == null}" th:text="#{sidebar.userInfo.nonMember}">비회원</span>
          <span th:if="${userInfo != null}">
            <span th:text="${userInfo.name}"></span>
          </span>
        </span>
      </div>
      <div class="user-grade">
        <span th:text="#{sidebar.userInfo.grade} + ':'">회원 등급:</span>
        <span class="grade">
          <span th:if="${userInfo == null}" th:text="#{sidebar.userInfo.nonMember}">비회원</span>
          <span th:if="${userInfo != null}">
            <span th:if="${userInfo.gradeId == 1}" th:text="#{sidebar.userInfo.generalMember}">일반회원</span>
            <span th:if="${userInfo.gradeId == 2}" th:text="#{sidebar.userInfo.royalMember}">로얄회원</span>
            <span th:if="${userInfo.gradeId == 3}" th:text="#{sidebar.userInfo.goldMember}">골드회원</span>
            <span th:if="${userInfo.gradeId == 4}" th:text="#{sidebar.userInfo.platinumMember}">플래티넘회원</span>
          </span>
        </span>
      </div>
      <div class="user-points">
        <span th:text="#{sidebar.userInfo.points} + ':'">잔여 포인트:</span>
        <span th:if="${userInfo != null}" class="points" th:text="${#numbers.formatInteger(userInfo.points, 0)} + 'P'">1,000P</span>
        <span th:if="${userInfo == null}" class="points">0P</span>
      </div>
    </div>
    <ul class="nav nav-tabs flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/mypage/orders" th:text="#{sidebar.orders}">주문 내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mypage/coupons" th:text="#{sidebar.coupons}">쿠폰함</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mypage/info" th:text="#{sidebar.info}">정보 수정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mypage/reviews" th:text="#{sidebar.reviews}">나의 리뷰</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mypage/addresses" th:text="#{sidebar.addresses}">배송지 정보</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mypage/point-logs" th:text="#{sidebar.pointLogs}">포인트 이력</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
