<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="user-sidebar">
  <div class="sidebar">
    <div class="user-info">
      <div class="user-grade">
        <span>회원 등급:</span>
        <span class="grade">일반회원</span>
      </div>
      <div class="user-points">
        <span>잔여 포인트:</span>
        <span class="points">1,000P</span>
      </div>
    </div>
    <ul class="nav nav-tabs flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/mypage/orders">주문 내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">쿠폰함</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">정보 수정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">나의 리뷰</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">배송지 정보</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
