<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::content})}">
<body>
<div th:fragment="content">

    <!-- Start Find Email Success Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3 th:text="#{findEmail.success.title}">Email Found</h3>
                            <p th:text="#{findEmail.success.description}">Below is the list of email addresses associated with your account:</p>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="email, stat : ${emails}">
                                <td th:text="${stat.count}">1</td>
                                <td th:text="${email.userEmail}">user@example.com</td>
                            </tr>
                            </tbody>
                            <tr></tr>
                        </table>
                        <br>
                        <div class="actions">
                            <a href="/login" class="btn btn-primary" th:text="#{register.loginNow}">Login Now</a>
<!--                            <p th:text="#{findEmail.forgotPassword}">Forgot your password?</p>-->
<!--                            <a href="/set-new-password" class="btn btn-secondary" th:text="#{findEmail.button.resetPassword}">Reset Password</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Find Email Success Area -->

</div>
</body>
</html>
