.review-header {
  display: flex;
  flex-direction: column;
}

.review-images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.review-images img {
  max-width: 100px;
  margin: 5px;
}

.stars {
  display: flex;
}

.stars li {
  list-style: none;
}

.single-review {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.review-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

.review-buttons a {
  color: #6c757d;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}

.review-buttons a:hover {
  text-decoration: underline;
}

.review-user-name {
  position: absolute;
  left: 0;
  top: 10%;
}