<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #555555;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="col-md-12">
    <h1 th:text="${lang == 'ko'} ? '도서 검색' : 'Book Search'"></h1>
    <div class="col-md-4">
        <form th:action="@{/coupons/policy/books/search}" method="get">
            <input type="text" th:value="${keyword}" name="query" th:placeholder="${lang == 'ko'} ? '도서명을 입력해주세요.' : 'Enter book title.'">
            <input type="hidden" name="lang" th:value="${lang}">
            <button type="submit" th:text="${lang == 'ko'} ? '검색' : 'Search'"></button>
        </form>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
        <button class="btn btn-secondary" onclick="changeLang('ko')">한국어</button>
        <button class="btn btn-secondary" onclick="changeLang('en')">English</button>
    </div>
    <hr>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="${lang == 'ko'} ? 'ID' : 'ID'"></th>
                <th th:text="${lang == 'ko'} ? '제목' : 'Title'"></th>
                <th th:text="${lang == 'ko'} ? '저자' : 'Author'"></th>
                <th th:text="${lang == 'ko'} ? '출판사' : 'Publisher'"></th>
            </tr>
            </thead>
            <tbody>
            <script>
                function selectElement(selectedElement) {
                    addDataToForm(selectedElement);
                    window.close();
                }

                function addDataToForm(ele) {
                    let elements = ele.getElementsByTagName("td");
                    let data = {
                        bookId: elements[0].textContent,
                        bookName: elements[1].textContent
                    };

                    // 부모 창으로 element 전달
                    if (window.opener && !window.opener.closed) {
                        window.opener.document.getElementById("bookId").value = data.bookId;
                        window.opener.document.getElementById("bookName").value = data.bookName;
                    }
                }
            </script>

            <tr th:each="book : ${bookList}" onclick="selectElement(this)" style="cursor: pointer;">
                <td th:text="${book.bookId()}"></td>
                <td th:text="${book.bookName}">title</td>
                <td th:text="${book.authorName}">author</td>
                <td th:text="${book.bookPublisher}">publisher</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function changeLang(lang) {
        const url = new URL(window.location.href);
        url.searchParams.set('lang', lang);
        window.location.href = url.toString();
    }
</script>
</body>
</html>
