<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #555555;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="col-md-12">
    <h1>도서 검색</h1>
    <div class="col-md-4">
        <form th:action="@{/coupons/policy/books/search}" method="get">
            <input type="text" th:value="${keyword}" name="query" placeholder="도서명을 입력해주세요.">
            <button type="submit">검색</button>
        </form>
    </div>
    <hr>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
            </tr>
            </thead>
            <tbody>
            <script>
                function selectElement(selectedElement) {
                    addDataToForm(selectedElement);
                    window.close();  // 팝업 창 닫기
                }

                function addDataToForm(ele) {
                    let elements = ele.getElementsByTagName("td");
                    let data = {
                        bookId: elements[0].textContent,
                        bookName: elements[1].textContent
                    };

                    // 부모 창으로 element 전달
                    if (window.opener && !window.opener.closed) {
                        window.opener.document.getElementById("bookId").value = data.bookId;
                        window.opener.document.getElementById("bookName").value = data.bookName;
                    }
                }
            </script>

            <tr th:each="book : ${bookList}" onclick="selectElement(this)" style="cursor: pointer;">
                <td th:text="${book.bookId()}"></td>
                <td th:text="${book.bookName}">title</td>
                <td th:text="${book.authorName}">author</td>
                <td th:text="${book.bookPublisher}">publisher</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>